.form {
    width: 100%;
    padding: var(--static-space-l);
    border: 1px solid var(--data-border-neutral-medium);
    border-radius: var(--static-border-radius-m);
    background: var(--data-surface-weak-on);
}

:global([data-theme="light"]) .form {
    padding: 0;
    border-color: transparent;
    background: transparent;
}
